.container {
    background: linear-gradient(to top left, $gradientRight, $gradientLeft);
    padding: 15px 0 80px 16px;
    min-height: 800px;
    height: 100vh;

    @media screen and (min-width: 768px) {
        padding: 14px 0 169px 24px;
    }

    @media screen and (min-width: 1440px) {
        padding-left: 170px;
    }
}

.header {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 56px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 106px;
    }
}

.text-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: $textMainColor;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        max-width: 630px;
    }
}

.text-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $textMainColor;
    opacity: 0.6;

    &--bold {
        font-weight: 700;
    }

    @media screen and (min-width: 768px) {
        font-size: 21px;
        max-width: 630px;
    }
}

.main-content {
    max-width: 320px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 1440px;
        display: flex;
    }
}

.main-text {
    &__header {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-bottom: 39px;
        }
    }

    &__description {
        margin-bottom: 39px;

        @media screen and (min-width: 768px) {
            margin-bottom: 58px;
        }
    }
}

.input {
    border: none;
    border: 1px solid $inputBorder;
    border-radius: 4px;
    height: 40px;
    padding: 10px 18px 10px 12px;
    box-sizing: border-box;
    background-color: $inputBack; 

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $inputTextColor;

    &__label {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 9px;
        letter-spacing: 1px;
        line-height: 13px;
        text-transform: uppercase;
        color: $labelColor;

        &:hover {
            cursor: pointer;
        }
    }

    &--number {
        width: 224px;

        @media screen and (min-width: 768px) {
           width: 343px; 
        }
    }

    &--name {
        width: 134px;

        @media screen and (min-width: 768px) {
            width: 220px;   
        }
    }

    &--expiration {
        width: 84px;

        @media screen and (min-width: 768px) {
            width: 108px;   
        }
    }

    &--cvc {
        width: 93px;
    }
}

.card-behind {
    background-color: $cardBehind;
        border: none;
        border: 1px solid $cardBorder;
        box-sizing: border-box;
        margin: 0;
        padding-left: 16px;
        padding-bottom: 30px;
        padding-top: 16px;
        width: 256px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

    &__help {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: $labelColor;

        @media screen and (min-width: 768px) {
            width: 93px;   
        }
    }

    &__row {
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    @media screen and (min-width: 768px) {
        width: 391px;
        height: 233px;
        padding-top: 84px;
        border-radius: 8px;
        padding-right: 24px;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 50px;
            top: 24px;
            left: 0;
            background-color: $cardStripColor;
        }
    }
}

.card-ahead {
    background-color: $cardAhead;
    border: none;
    border: 1px solid $cardBorder;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 14px 30px 16px;
    width: 240px;
    margin: 0;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);

    &__row2 {
        display: flex;
        align-items: center;

        &-name {
            margin-right: 7px;

            @media screen and (min-width: 768px) {
                margin-right: 15px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        width: 391px;
    }
}

.payment {
    width: 288px;
    height: 531px;
    background-color: #FFFFFF;
    padding: 40px 16px 73px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 13px 37px -8px rgba(0,0,0,0.45);
    position: relative;

    &__card-ahead {
        position: absolute;
        top: 40px;
        z-index: 1;
    }

    &__card-behind {
        position: absolute;
        top: 265px;
        left: 16px;

        @media screen and (min-width: 768px) {
            top: 76px;
            left: 189px;
        }
    }

    &__label {
        display: inline-block;
        margin-bottom: 6px;

        &--wrap {
            white-space: nowrap;
            position: absolute;
        }
    }

    &__form-row {
        position: relative;

        &--row1 {
            margin-bottom: 15px;
        }
    }

    &__help {
        margin-left: 16px;
        position: relative;
        top: 8px;
    }

    &__sistems {
        text-align: right;
        margin-bottom: 16px;
    }

    &__button {
        position: absolute;
        bottom: 70px;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }

        &-svg {
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }

        &-info {
            display: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            color: $labelColor;

            @media screen and (min-width: 768px) {
                display: block;
                width: 220px;
                margin-left: 24px;
                margin-right: 61px;
            }
        }
    }

    &__btn-text {
        margin-left: 33px;

        @media screen and (min-width: 768px) {
            margin-left: 0;
        }
    }

    &__info {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -70px;

        @media screen and (min-width: 768px) {
            left: 0;
            margin-left: 47px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 627px;
        height: 469px;
        padding: 30px 48px 29px 47px;
        margin-left: 47px;
    }
}

.info-payment {
    font-family: 'Open Sans';
    font-size: 14px;
    color: $linkColor;

    &:hover {
        text-decoration: underline;
    }
}

.btn {
    display: inline-block;
    width: 256px;
    height: 56px;
    box-sizing: border-box;
    background-color: $buttonBackColor;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 40px;

    &__text {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        color: $textMainColor;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
        transform: translateY(-1px);
    }

    &:hover .btn__svg {
        fill: $lockFillHover;
    }

    &:hover .btn__text {
        color: #CCCCCC;
    }

    &:active {
        cursor: auto;
        transform: translateY(1px);
    }

    &:active .btn__text {
        color: $textMainColor;
    }

    &:active .btn__svg {
        fill: #FFFFFF;
    }

    &__svg {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        width: 207px;   
        padding-left: 0;
        justify-content: center;
    }

}