%list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%button {
    border: none;
    transform: skewX(-40deg);
    padding: 0;
    display: inline-block;
    position: relative;
}

%text-button {
       display: block;
       transform: skewX(40deg);
       font-weight: 600;
       text-transform: uppercase;
    }

%header {
    margin: 0;
}

%text {
    margin: 0;
}

%hover-arrows {
    cursor: pointer;
    opacity: 0.8;
}

%opacity-animation {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

%pointer {
    cursor: pointer;
}