//colors of backgrounds
$gradientLeft: #6039AA;
$gradientRight: #32D6BD;
$inputBack: #FFFFFF;
$cardAhead: #F1F0F9;
$cardBehind: #E7E6F4;
$buttonBackColor: #6039AA;
$lockFillHover: #CCCCCC;
$cardStripColor:  #B49ED6;

//colors of borders
$inputBorder: #CCCCCC;
$cardBorder: #E6E6E6;

//colors of texts
$textMainColor: #FFFFFF;
$labelColor: #999999;
$inputTextColor: #333333;
$linkColor: #26ADED;


